
@{
    ViewBag.Title = "AdminHome";
}

<h2>Admin Dashboard</h2>

Hello Admin you can perform the following actions

<div class="row">
    <div class="col-sm-2">
        <ul>
            <li>Manage&nbsp;FAQs</li>
            <li>Manage&nbsp;Users</li>
            <li>Manage&nbsp;Option&nbsp;Types</li>
            <li>Manage&nbsp;Surveys</li>
            <li>Manage&nbsp;Survey&nbsp;questions</li>
            <li>Manage&nbsp;Competition</li>
            <li>Manage&nbsp;Supportinfo</li>
        </ul>
    </div>
    <div class="col-sm-10">
        <div class="container body-content">
        </div>
    </div>
</div>
