
@{
    ViewBag.Title = "Support";
}

<h2>Support</h2>

<div>
    <p>
        If you are doing any survey and stuck somewhere please contact Ishrat ul Ebaad from faculty of Arts his contact details are given below.
    </p>
    <p>
        Email: I.Ebaad@aptech.com.pk<br />
        Phone: +92 213 456789<br />
        Address: Aptech Nursery, Karachi.<br />
        Skype: I.ebad@aptech.com.pk<br />
    </p>
</div>

<button data-toggle="collapse" data-target="#demo" class="btn btn-secondary">Collapsible</button>

<div id="demo" class="collapse">
    Lorem ipsum dolor text....
</div>
