
@{
    ViewBag.Title = "Support";
}

<h2>Support</h2>

<div>
    <p>
        If you are doing any survey and stuck somewhere please contact Ishrat ul Ebaad from faculty of Arts his contact details are given below.
    </p>
    <p>
        Email: I.Ebaad@aptech.com.pk<br />
        Phone: +92 213 456789<br />
        Address: Aptech Nursery, Karachi.<br />
        Skype: I.ebad@aptech.com.pk<br />
    </p>
</div>
<div class="panel-group" id="according">
    @*<div class="btn btn-info">*@
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collaps" data-parent="#according" href="#collapse1">
                    <p>
                        If you are doing any survey and stuck somewhere please contact Ishrat ul Ebaad from faculty of Arts his contact details are given below.
                    </p>
                </a>

            </h4>
         </div>
       
    </div>

    <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
            Email: I.Ebaad@aptech.com.pk<br />
            Phone: +92 213 456789<br />
            Address: Aptech Nursery, Karachi.<br />
            Skype: I.ebad@aptech.com.pk<br />

        </div>

    </div>

</div>



    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collaps" data-parent="#according" href="#collapse2">
                    <p>
                        If you are doing any survey and stuck somewhere please contact Ishrat ul Ebaad from faculty of Arts his contact details are given below.
                    </p>
                </a>

            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                Email: I.Ebaad@aptech.com.pk<br />
                Phone: +92 213 456789<br />
                Address: Aptech Nursery, Karachi.<br />
                Skype: I.ebad@aptech.com.pk<br />

            </div>

        </div>

    </div>

</div>

@*<button data-toggle="collapse" data-target="#demo" class="btn btn-secondary">If you are doing any survey and stuck somewhere please contact Ishrat ul Ebaad from faculty of Arts his contact details are given below.</button>

<div id="demo" class="collapse">
    Email: I.Ebaad@aptech.com.pk<br />
    Phone: +92 213 456789<br />
    Address: Aptech Nursery, Karachi.<br />
    Skype: I.ebad@aptech.com.pk<br />
</div>

<button data-toggle="collapse" data-target="#demo" class="btn btn-secondary">If you are doing any survey and stuck somewhere please contact Ishrat ul Ebaad from faculty of Arts his contact details are given below.</button>

<div id="demo" class="collapse">
    Email: I.Ebaad@aptech.com.pk<br />
    Phone: +92 213 456789<br />
    Address: Aptech Nursery, Karachi.<br />
    Skype: I.ebad@aptech.com.pk<br />
</div>*@

@*<button data-toggle="collapse" data-target="#demo" class="btn btn-secondary">If you are doing any survey and stuck somewhere please contact Ishrat ul Ebaad from faculty of Arts his contact details are given below.</button>

<div id="demo" class="collapse">
    Email: I.Ebaad@aptech.com.pk<br />
    Phone: +92 213 456789<br />
    Address: Aptech Nursery, Karachi.<br />
    Skype: I.ebad@aptech.com.pk<br />
</div>*@
